/*styles for fanpage.html*/


h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}